.chart-header { 
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.chart-header .value {
    margin-left: 345px;
    font-size: 1.7rem;
}

.chart-container {
    height: 100%;
}

.title {
    opacity: .5;
    font-size: .7rem;
    padding-left: 10px;
}