<div class="display">
    <div class="header">
        <div class="group">AA-{{index}}</div>
        <div class="hicardi">{{deviceInfos?.hicardiName}}</div>
        <div class="patient">이*은 (27) F</div>
    </div>
    <div class="content">
        <div class="line_chart">
            <div class="line_chart-ecg" id="ecg_{{index}}">
                <div class="chart-header">
                    <div class="title">ECG</div>
                    <div class="value"></div>
                </div>
                <div class="chart"></div>
            </div>
            <div class="line_chart-resp" id="res_{{index}}">
                <div class="chart-header">
                    <div class="title">Respiration</div>
                    <div class="value"></div>
                </div>
                <div class="chart"></div>
            </div>
        </div>
        <div class="dot_chart">
            <div class="dot_chart-up dot_chart-hr" id="hr_{{index}}">
                <div class="chart-header">
                    <div class="title">Heart Rate</div>
                    <div class="value"></div>
                </div>
                <div class="chart">

                </div>
            </div>
            <div class="dot_chart-down">
                <div class="dot_chart-resp" id="resp_{{index}}">
                    <div class="chart-header">
                        <div class="title">Respiration Rate</div>
                        <div class="value"></div>
                    </div>
                    <div class="chart"></div>
                </div>
                <div class="dot_chart-temp" id="temp_{{index}}">
                    <div class="chart-header">
                        <div class="title">Temperature</div>
                        <div class="value"></div>
                    </div>
                    <div class="chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer footer_{{index}}">
        <div class="data">
            <div class="data-temp">Temp: <b class="data-temp-value"></b>℃</div>
            <div class="data-resp">Resp: <b class="data-resp-value"></b>bpm</div>
            <div class="data-heart">HR Min/Max: <b class="data-heart-min-value"></b>/<b
                    class="data-heart-max-value"></b>bpm</div>
        </div>
        <div class="motion_status" id="motion_{{index}}">
            <div class="status status_0">
                <i class="fas fa-bed"></i>
            </div>
            <div class="status status_1">
                <i class="fas fa-male"></i>
            </div>
            <div class="status status_2">
                <i class="fas fa-walking"></i>
            </div>
            <div class="status status_3">
                <i class="fas fa-running"></i>
            </div>
        </div>
    </div>
</div>