.display {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.display .header {
    display: flex;
    gap: 20px;
    height: 12%;
    border-bottom: solid .1px rgba(211, 211, 211, 0.493);
    align-items: center;
    padding-left: 10px;
}

.display .content {
    display: flex;
    height: 76%;
    border-bottom: solid .1px rgba(211, 211, 211, 0.493);
}

.content .line_chart {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.line_chart .line_chart-ecg {
border-bottom: solid .1px rgba(211, 211, 211, 0.493);
height: 60%;
}

/* .chart-header { 
    position: absolute;
    display: flex;
    justify-content: space-between;
} */
/* 
.line_chart-ecg .chart-header .value {
    margin-left: 345px;
    font-size: 1.7rem;
}
*/
.line_chart .line_chart-resp {
    height: 40%;
} 

.content .dot_chart {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.dot_chart .dot_chart-hr, .dot_chart .dot_chart-resp {
    border-left: solid .1px rgba(211, 211, 211, 0.493);
}

/* .dot_chart-hr .value {
    margin-left: 220px;
} */

.dot_chart .dot_chart-up {
    border-bottom: solid .1px rgba(211, 211, 211, 0.493);
    width: 100%;
    height: 50%;
}

.dot_chart .dot_chart-down {
    display: flex;
    width: 100%;
    height: 50%;
}

.dot_chart-down .dot_chart-resp, .dot_chart-down .dot_chart-temp {
    width: 100%;
}

.dot_chart-down .dot_chart-temp {
    border-left: solid .1px rgba(211, 211, 211, 0.493);
}

/* .dot_chart-resp .value {
    margin-left: 30px;
}

.dot_chart-temp .value { 
    margin-left: 53px;
} */

.display .footer {
    height: 12%;
    display: flex;
}

.footer .data {
    display:  flex;
    width: 60%;
    gap: 10px;
    align-items: center;
}

.data .data-temp {
    margin-left: 10px;
}

.footer .motion_status {
    display: flex;
    width: 40%;
}

.motion_status .status {
    display: flex;
    width: 25%;
    justify-content: center;
    border-left: solid .1px rgba(211, 211, 211, 0.493);
    align-items: center;
}

.motion_status .cur_status {
    background-color: deeppink;
}

.title {
    opacity: .5;
    font-size: .7rem;
    padding-left: 10px;
}

.cur_status i{
    opacity: 1;
}
