<div class="display">
    <div class="header">
        <div class="group">AA-{{index}}</div>
        <div class="hicardi">{{deviceInfos?.hicardiName}}</div>
        <div class="patient">이*은 (27) F</div>
    </div>
    <div class="content">
        <div class="line_chart">
            <app-wave-form class="line_chart-ecg" [title]="'ecg'" [index]="index" [deviceInfos]="deviceInfos">
            </app-wave-form>
            <app-wave-form class="line_chart-resp" [title]="'res'" [index]="index" [deviceInfos]="deviceInfos">
            </app-wave-form>
        </div>
        <div class="dot_chart">
            <app-static-form class="dot_chart-up dot_chart-hr" [title]="'hr'" [index]="index" [deviceInfos]="deviceInfos"></app-static-form>
            <div class="dot_chart-down">
                <app-static-form class="dot_chart-resp" [title]="'resp'" [index]="index" [deviceInfos]="deviceInfos">
                </app-static-form>
                <app-static-form class="dot_chart-temp" [title]="'temp'" [index]="index" [deviceInfos]="deviceInfos">
                </app-static-form>
            </div>
        </div>
    </div>
    <div class="footer footer_{{index}}">
        <div class="data">
            <div class="data-temp">Temp: <b class="data-temp-value"></b>℃</div>
            <div class="data-resp">Resp: <b class="data-resp-value"></b>bpm</div>
            <div class="data-heart">HR Min/Max: <b class="data-heart-min-value"></b>/<b
                    class="data-heart-max-value"></b>bpm</div>
        </div>
        <div class="motion_status" id="motion_{{index}}">
            <app-motion *ngFor="let currentIndex of [0,1,2,3]" class="status" [currentIndex]="currentIndex" [currentMotion]="currentIndex === motionStatus"
                [ngClass]="currentIndex === motionStatus ? 'cur_status': ''"></app-motion>
        </div>
    </div>
</div>