.chart-header { 
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dot_chart-hr, .dot_chart-resp, .dot_chart-temp{
    height: 100%;
}

.dot_chart-container {
    position: relative;
}
.title {
    opacity: .5;
    font-size: .7rem;
    padding-left: 10px;
}